.header {
  nav {
    padding: 24px;
  }

  &__ncc {
    font-family: 'BrandonGrotW01-Light';
    font-size: 22px;
    font-weight: 400;
    color: white;
  }
  &__menu {
    //Mobile menu
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: white;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &__links {
    a {
      font-size: 1rem;
      margin: 0;
      color: white;

      &:not(:last-child) {
        padding-right: 1.25em;
      }

      &:hover {
        color: blue;
      }
    }
  }
}

/*padding: 0.45rem;*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
