//Hero
.section_main {
  background: url(/dist/img/clean2.jpg) no-repeat center/cover;
  padding: 5rem;
  background-blend-mode: screen;
  text-align: center;
  max-width: 1400px;
  height: 600px;
}

.header_image {
  height: 60vh;
}

//Headings
h1 {
  font-family: 'Arial', Sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.99);
}

h2 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.99);
  font-weight: 500;
  padding: 2px;
  margin-bottom: 10px;
}
h3 {
  color: rgba(255, 255, 255, 0.99);
  font-size: 30px;
  font-weight: 500;
}

p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.99);
}
#contact {
  padding: 25px;
  margin: 25px;
}
#about {
  margin: 30px;
}
#clients {
  margin: 0 30px 0 30px;
}
//Button

.button-text {
  display: inline-block;
  background-color: #000000;
  border-radius: 10px;
  border: 1.5px double #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 25px;
  padding: 15px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.5s;
}
button {
  :hover {
    background-color: #0d10b6;
  }
  span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  span:after {
    content: '';
    position: absolute;
    opacity: 1;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  :hover span {
    padding-right: 25px;
  }
  :hover span:after {
    opacity: 1;
    right: 0;
  }
}

.container {
  background-color: #080808;
  padding: 0.3135rem;
  margin: auto;
  width: 100%;
}
//Section
.section_container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.125rem;
  margin-left: 0.3215rem;
  margin-right: 0.3215rem;
  width: 100%;
}
.section_contact {
  margin-left: 25px;
  text-align: left;
}

.clean {
  width: 100%;
  height: 500px;
  margin: auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*Large screens(Desktops,tablets)*/
@media (min-width: 640px) {
  .section_main {
    background: url(../img/clean2.jpg) no-repeat center/cover;
    text-align: center;
  }
  #section-main {
    padding: 10rem;
  }

  h1 {
    font-family: 'Montserrat', Sans-serif;

    font-size: 50px;
    -webkit-text-fill-color: white;

    -webkit-text-stroke-color: black;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 25px;
  }
  p {
    font-size: 20px;
    color: white;
    padding: 3px;
  }
  .clean {
    width: 100%;
  }
  .section_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }

  .section_image {
    padding: 20px;
  }

  img {
    width: 200px;
    height: 200px;
  }
}

.stroke-text {
  -webkit-text-stroke: 2px black;
}

/*Slideshow container*/
.slideshow-container {
  position: relative;
  background: #171837;
}

/*Slides*/
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #1b1b45;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}

/* Add an italic font style to all quotes */
q {
  font-style: italic;
}

/* Add a blue color to the author */
.author {
  color: cornflowerblue;
}
