//Hero
.section-main {
  background: url(/dist/img/clean2.jpg) no-repeat center/cover;
  padding: 10rem;
  background-blend-mode: screen;
  text-align: center;
  max-width: 1400px;
  height: 600px;
}

//Headings
h1 {
  color: rgba(255, 255, 255, 0.99);
  font-family: 'Arial', Sans-serif;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
}

h2 {
  color: rgba(255, 255, 255, 0.99);
  font-size: 40px;
  font-family: 'Montserrat', Sans-serif;
  font-weight: 500;
  padding: 2px;
  margin-bottom: 10px;
}
h3 {
  color: rgba(255, 255, 255, 0.99);
  font-size: 30px;
  font-family: 'Montserrat', Sans-serif;
  font-weight: 500;
}

p {
  font-size: 22px;
  color: white;
  padding: 5px;
}
//Button
.button-text {
  display: inline-block;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 15px;
  border-radius: 200px 200px 200px 200px;
}

.container {
  text-align: center;
  background-color: #343a40;
  padding: 1px;
}
.about_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 10px;
}
.clean {
  width: 600px;
  height: 500px;
  padding: 1rem;
  margin: 1rem;
}

//What We Provide
.wwp_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 5px;
  margin-right: 5px;
  text-align: left;
}

@media (max-width: 767px) {
  .section-main {
    background: url(../img/clean2.jpg) no-repeat center/cover;
    padding: 10rem;

    text-align: center;
  }
  h1 {
    font-family: 'BrandonGrotW01-Light';
    font-size: 30px;
    -webkit-text-fill-color: white;

    -webkit-text-stroke-color: black;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .clean {
    width: 500px;
    height: 500px;
    padding: 1rem;
    margin: 1rem;
  }
  .about_container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .wwp_container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
  }

  img {
    width: 200px;
    height: 200px;
  }
}

.stroke-text {
  -webkit-text-stroke: 2px black;
}
