//Hero
.section-main {
  background: url(/dist/img/clean2.jpg) no-repeat center/cover;
  padding: 10rem;
  background-blend-mode: screen;
  text-align: center;
  max-width: 1400px;
  height: 600px;
}

//Headings
h1 {
  font-family: 'Arial', Sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.99);
}

h2 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.99);

  font-weight: 500;
  padding: 2px;
  margin-bottom: 10px;
}
h3 {
  color: rgba(255, 255, 255, 0.99);
  font-size: 30px;
  font-family: 'Montserrat', Sans-serif;
  font-weight: 500;
}

p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.99);
}
//Button
.button-text {
  display: inline-block;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 15px;
  border-radius: 200px 200px 200px 200px;
}

.container {
  text-align: center;
  background-color: #343a40;
  padding: 1px;
}
.about_container {
  display: grid;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}
.clean {
  width: 100%;
  height: 500px;
  padding: 1rem;
  margin: 1rem;
}

//What We Provide
.wwp_container {
  display: grid;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}

/*Large screens(Desktops,tablets)*/
@media (min-width: 640px) {
  .section-main {
    background: url(../img/clean2.jpg) no-repeat center/cover;
    padding: 10rem;
    text-align: center;
  }
  h1 {
    font-family: 'Montserrat', Sans-serif;

    font-size: 50px;
    -webkit-text-fill-color: white;

    -webkit-text-stroke-color: black;
  }
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 22px;
    color: white;
    padding: 5px;
  }
  .clean {
    width: 100%;
  }
  .about_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  .wwp_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }

  img {
    width: 200px;
    height: 200px;
  }
}

.stroke-text {
  -webkit-text-stroke: 2px black;
}
