//Hero
.section_main {
  background: url(/dist/img/clean2.jpg) no-repeat center/cover;
  padding: 5rem;
  background-blend-mode: screen;
  text-align: center;
  max-width: 1400px;
  height: 600px;
}

.header_image {
  height: 60vh;
}

//Headings
h1 {
  font-family: 'Arial', Sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.99);
}

h2 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.99);
  font-weight: 500;
  padding: 2px;
  margin-bottom: 10px;
}
h3 {
  color: rgba(255, 255, 255, 0.99);
  font-size: 30px;
  font-family: 'Montserrat', Sans-serif;
  font-weight: 500;
}

p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.99);
}
#contact {
  padding: 25px;
  margin: 25px;
}

//Button

.button-text {
  display: inline-block;
  background-color: #f0f0f0;
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 15px;
  border-radius: 200px 200px 200px 200px;
}

.container {
  background-color: #343a40;
  padding: 0.3135rem;
  margin: auto;
  width: 100%;
}
//Section
.section_container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 0.125rem;
  margin-left: 0.3215rem;
  margin-right: 0.3215rem;
  width: 100%;
}
.section_contact {
  margin-left: 25px;
  text-align: left;
}

.clean {
  width: 100%;
  height: 500px;
  margin: auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*Large screens(Desktops,tablets)*/
@media (min-width: 640px) {
  .section_main {
    background: url(../img/clean2.jpg) no-repeat center/cover;
    padding: 10rem;
    text-align: center;
  }
  h1 {
    font-family: 'Montserrat', Sans-serif;

    font-size: 50px;
    -webkit-text-fill-color: white;

    -webkit-text-stroke-color: black;
  }
  h2 {
    font-size: 40px;
  }
  p {
    font-size: 20px;
    color: white;
    padding: 3px;
  }
  .clean {
    width: 100%;
  }
  .section_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section_image {
    margin: auto;
    padding: 20px;
  }

  img {
    width: 200px;
    height: 200px;
  }
}

.stroke-text {
  -webkit-text-stroke: 2px black;
}
